* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Segoe UI', sans-serif;
}
 body {
  background-color: #0f172a;
  color: #e5e7eb;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgba(15, 23green, 42blue,0.9 alpha);
  padding:  18px 60px;
  position: sticky;
  top: 0;
  z-index: 100;

 }
 .logo {
  color: #38bdf8;
  font-size: 24px;
  font-weight: bold;
  }
   nav ul {
    display: flex;
    list-style: none;

  }

  nav ul li a {
    color: #e5e7eb;
    margin-left: 25px;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: #38bdf8;
  }

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg,#0f172a,#020617);
}
.hero h1 {
  font-size: 3rem
}
.hero p {
  font-size:1.2rem;
  margin: top 10px;
  opacity: 0.8;

}
.hero button {
  padding: 12px 30px;
  margin-top: 30px;
  border-radius:  30px;
  border: none;
  background: #38bdf8;
  color: #020617;
  font-size: 16px;
  cursor: pointer;
  transition:transform 0.3s, box-shadow 0.3s;
}
.hero button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(55,180,240,0.4);
}
section {
  padding: 60px 50px;
  text-align: center;
}
section h2 {
  font-size:2.2rem;
  margin-bottom:20px;
  color:#38bdf8;
}

.skills {
margin: top 30px;
}

.skills span {
  display: inline-block;
  background: #020617;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 25ppx;
  border: 1px solid #38bdf8;
  transition:all 0.3s;

}
.skills span:hover{
  background:#38bdf8;
  color:#020617;
  transform:scale(1.1);
}
.projects {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  flex-wrap:wrap;
}
.card {
  background:#020617;
  padding: 30px;
  width: 230px;
  border: radius 15px;
  border:1px solid rgba(56,189,248,0.2);
  transition:transform 0.4s,box-shadow 0.4s;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow:0 15px 40px rgba(56,189,248,0.2);
}
#contact p{
  font: size 1.1rem;
  opacity:0.9;
}
@media (max-width:768px){
  nav{
    padding:15px 25px;
  }
  .hero h1 {
    fonnt-size:2.2rem;
  }
  section{
    padding:60px 25px
  }
}
  

