* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}
html {
  scroll-behavior:smooth;
}

 body {
  background:radial-gradient(circle at top,#020617,#000);
  color: #e5e7eb;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter:blur(10px);
  background:rgba(2,6,23,0.7);
  padding:  18px 70px;
  position: sticky;
  top: 0;
  z-index: 100;

 }

 .logo {
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(90deg,#38bdf8,#22d3ee);
  -webkit-background-clip:text;
  color:transparent;
  }

   nav ul {
    display: flex;
    list-style: none;

  }

  nav ul li a {
    position:relative;
    color: #e5e7eb;
    margin-left: 30px;
    text-decoration: none;
    font-weight:500;
  }
  nav ul li a::after {
    content:"";
    position:absolute;
    width:0;
    height:2px;
    background:#38bdf8;
    left:0;
    bottom: -6px;
    transition: 0.3s;
  }

  nav ul li a:hover::after {
    width:100%;
  }

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.hero h1 {
  font-size: 3.4rem;
}
.hero span{
  background:linear-gradient(90deg,#38bdf8,#22d3ee);
  -webkit-background-clip:text;
  color:transparent;

}
.hero p {
  font-size:1.2rem;
  margin-top: 15px;
  opacity: 0.85;

}
.hero button {
  padding: 14px 40px;
  margin-top: 35px;
  border-radius:40px;
  border: none;
  background:linear-gradient(90deg,#38bdf8,#22d3ee);
  color: #020617;
  font-size: 16px;
  font-weight:600;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(56,189,248,0.4);
  transition:all 0.4s;

}
.hero button:hover {
  transform:scale(1.08);
  box-shadow: 0 0px 50px rgba(55,180,240,0.4);

}
.hero {
  animation:float 6s ease-in-out infinite;

}
@keyframes float {
  0%,100%{ transform:translateY(0);}
  50%{transform:translate(-15px);}
}
section {
  padding: 100px 70px;
  text-align: center;
}
section h2 {
  font-size:2.2rem;
  margin-bottom:25px;
  background:linear-gradient(90deg,#38bdf8,#22d3ee);
  -webkit-background-clip:text;
  color:transparent;
}
#about p {
  max-width: 750px;
margin:auto;
font-size:1.14rem;
line-height:1.8;
opacity:0.9;

}

.skills {
margin: top 40px;
}

.skills span {
  display: inline-block;
  background: #020617;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 30px;
  background:rgba(255,255 , 255, 0.05);
  border: 1px solid rgba(56,189,248,0.3);
  backdrop-filter:blur(5px);
  transition:0.4s;
  cursor:pointer;

}
.skills span:hover{
  background:#38bdf8;
  color:#020617;
  transform:translateY(-6px);
  box-shadow:0 0 25px rgba(56,189,248,0.5);
}
.Projects {
  display:flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap:wrap;
  /*flex-direction:column;*/
}
.card {
  color:white;
  font-weight:bold;
  background:#020617;
  padding: 35px;
  width: 250px;
  border: radius 20px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(56,189,248,0.5);
  backdrop-filter:blur(10px);
  transition:0.5s;
}
.card:hover{
  transform: translateY(-15px) scale(1.05);
  box-shadow:0 20px 50px rgba(56,189,248,0.35);
}
#contact p{
  font: size 1.2rem;
  opacity:0.85;
}
@media (max-width:768px){
  nav{
    padding:15px 25px;
  }
  .hero h1 {
    font-size:2.2rem;
  }
  section{
    padding: 80px 25px;
  }
}
  

